In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/starships.csv")

In [3]:
starships_df = pd.DataFrame(df)
starships_df.head()

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",NaN,36000000,2 years,2.0,60,Star Destroyer
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft
3,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1000000000000,120000,NaN,"342,953","843,342",1000000000000,3 years,4.0,10,Deep Space Mobile Battlestation
4,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,100000,34.37,1050,4,6,100000,2 months,0.5,75,Light freighter

In [4]:
starships_df =starships_df.drop(columns=["model", "manufacturer", "length", "max_atmosphering_speed", "crew", "cargo_capacity", "consumables", "MGLT"])
starships_df.head()

,name,cost_in_credits,passengers,hyperdrive_rating,starship_class
0,CR90 corvette,3500000,600,2.0,corvette
1,Star Destroyer,150000000,NaN,2.0,Star Destroyer
2,Sentinel-class landing craft,240000,75,1.0,landing craft
3,Death Star,1000000000000,"843,342",4.0,Deep Space Mobile Battlestation
4,Millennium Falcon,100000,6,0.5,Light freighter

In [5]:
starships_df = starships_df[['hyperdrive_rating', 'starship_class', 'name', 'cost_in_credits', 'passengers']]
starships_df

,hyperdrive_rating,starship_class,name,cost_in_credits,passengers
0,2.0,corvette,CR90 corvette,3500000,600
1,2.0,Star Destroyer,Star Destroyer,150000000,NaN
2,1.0,landing craft,Sentinel-class landing craft,240000,75
3,4.0,Deep Space Mobile Battlestation,Death Star,1000000000000,"843,342"
4,0.5,Light freighter,Millennium Falcon,100000,6
5,1.0,assault starfighter,Y-wing,134999,0
6,1.0,Starfighter,X-wing,149999,0
7,1.0,Starfighter,TIE Advanced x1,unknown,0
8,2.0,Star dreadnought,Executor,1143350000,38000
9,4.0,Medium transport,Rebel transport,unknown,90
10,3.0,Patrol craft,Slave 1,unknown,6
11,1.0,Armed government transport,Imperial shuttle,240000,20
12,2.0,Escort ship,EF76 Nebulon-B escort frigate,8500000,75
13,1.0,Star Cruiser,Calamari Cruiser,104000000,1200
14,1.0,Starfighter,A-wing,175000,0
15,2.0,Assault Starfighter,B-wing,220000,0
16,2.0,Space cruiser,Republic Cruiser,unknown,16
17,2.0,Droid control ship,Droid control ship,unknown,139000
18,1.0,Starfighter,Naboo fighter,200000,0
19,1.8,yacht,Naboo Royal Starship,unknown,unknown
20,1.5,Space Transport,Scimitar,55000000,6
21,0.7,Diplomatic barge,J-type diplomatic barge,2000000,10
22,unknown,freighter,AA-9 Coruscant freighter,unknown,30000
23,1.0,Starfighter,Jedi starfighter,180000,0
24,0.9,yacht,H-type Nubian yacht,unknown,unknown
25,0.6,assault ship,Republic Assault ship,unknown,16000
26,1.5,yacht,Solar Sailer,35700,11
27,1.5,capital ship,Trade Federation cruiser,125000000,48247
28,1.0,transport,Theta-class T-2c shuttle,1000000,16
29,1.0,star destroyer,Republic attack cruiser,59000000,2000
30,0.5,yacht,Naboo star skiff,unknown,3
31,1.0,starfighter,Jedi Interceptor,320000,0
32,1.0,starfighter,arc-170,155000,0
33,1.0,cruiser,Banking clan frigte,57000000,unknown
34,6,starfighter,Belbullab-22 starfighter,168000,0
35,1.0,starfighter,V-wing,102500,0

In [6]:
starships_df.sort_values(by=['hyperdrive_rating', 'starship_class'])

,hyperdrive_rating,starship_class,name,cost_in_credits,passengers
4,0.5,Light freighter,Millennium Falcon,100000,6
30,0.5,yacht,Naboo star skiff,unknown,3
25,0.6,assault ship,Republic Assault ship,unknown,16000
21,0.7,Diplomatic barge,J-type diplomatic barge,2000000,10
24,0.9,yacht,H-type Nubian yacht,unknown,unknown
11,1.0,Armed government transport,Imperial shuttle,240000,20
13,1.0,Star Cruiser,Calamari Cruiser,104000000,1200
6,1.0,Starfighter,X-wing,149999,0
7,1.0,Starfighter,TIE Advanced x1,unknown,0
14,1.0,Starfighter,A-wing,175000,0
18,1.0,Starfighter,Naboo fighter,200000,0
23,1.0,Starfighter,Jedi starfighter,180000,0
5,1.0,assault starfighter,Y-wing,134999,0
33,1.0,cruiser,Banking clan frigte,57000000,unknown
2,1.0,landing craft,Sentinel-class landing craft,240000,75
29,1.0,star destroyer,Republic attack cruiser,59000000,2000
31,1.0,starfighter,Jedi Interceptor,320000,0
32,1.0,starfighter,arc-170,155000,0
35,1.0,starfighter,V-wing,102500,0
28,1.0,transport,Theta-class T-2c shuttle,1000000,16
20,1.5,Space Transport,Scimitar,55000000,6
27,1.5,capital ship,Trade Federation cruiser,125000000,48247
26,1.5,yacht,Solar Sailer,35700,11
19,1.8,yacht,Naboo Royal Starship,unknown,unknown
15,2.0,Assault Starfighter,B-wing,220000,0
17,2.0,Droid control ship,Droid control ship,unknown,139000
12,2.0,Escort ship,EF76 Nebulon-B escort frigate,8500000,75
16,2.0,Space cruiser,Republic Cruiser,unknown,16
1,2.0,Star Destroyer,Star Destroyer,150000000,NaN
8,2.0,Star dreadnought,Executor,1143350000,38000
0,2.0,corvette,CR90 corvette,3500000,600
10,3.0,Patrol craft,Slave 1,unknown,6
3,4.0,Deep Space Mobile Battlestation,Death Star,1000000000000,"843,342"
9,4.0,Medium transport,Rebel transport,unknown,90
34,6,starfighter,Belbullab-22 starfighter,168000,0
22,unknown,freighter,AA-9 Coruscant freighter,unknown,30000

In [ ]:
starships_df = df.iloc[df.starship_class.str.lower()]

In [ ]:
starships_df.to_json("../js/starship_hierarchy.json")